alive-progress        == 2.*
black                 == 22.*
flake8                == 5.*
isort                 == 5.*
Jinja2                == 3.*
pylint                == 2.*
requests              == 2.*
sort-requirements     == 1.*