/* General */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 24px;
    line-height: 1;
    padding: 30px 0 0 0;
    margin: 0 0 32px 0;
    color: #333333;
}

h2 {
    font-size: 18px;
    line-height: 1;
    padding: 16px 0 0 0;
    margin: 0;
    color: #333333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: 600;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.content-wrap {
    max-width: 90%;
    margin: 0 auto;
}

.sub-text {
    color: #8a8a8d;
}

.info {
    color: #8a8a8d;
    padding: 0 0 24px 0;
}

.info p {
    margin: 8px 0 0 0;
}

/* Header and Menu */
header {
    width: 90%;
    margin: 0 auto;
}

header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

header a.icon {
    color: #333333;
    margin: 16px;
    scale: 150%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
}

.overlay::-webkit-scrollbar {
    display: none; /* Disables scroll bars while keeping functionality */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    margin: 0 16px 8px 16px;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    /*top: 20px;*/
    /*right: 45px;*/
    font-size: 60px;
}

/* Song Grid and Music Cards*/
.song-grid {
    display: grid;
    justify-items: center;
    column-gap: 16px;
    row-gap: 64px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.song-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    width: 260px;
    background-color: #ffffff;
}

.song-image {
    display: block;
    border-radius: 16px 16px 0 0;
}

.card-container {
    display: block;
    text-align: center;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 3fr 1fr;
    margin: 0;
    padding: 4px;
}

.song-title {
    margin: 4px 0;
    font-weight: 600;
}

.song-artist {
    margin: 4px 0;
    color: #fa233b;
}

.track-count {
    opacity: 75%;
    color: #8a8a8d;
    margin: 8px;
}

.play-pause-btn {
    background-color: #f2f2f6;
    border: 0;
    border-radius: 8px;
    color: #fa233b;
    cursor: pointer;
    width: 150px;
    padding: 10px 0;
    margin: 8px 0;
}

.play-pause-btn .fas {
    font-size: 12px;
    position:relative;
    margin: 0 8px;
    bottom: 1px;
}

.play-pause-btn:focus {
    outline: 0;
}

.play-pause-txt {
    font-size: 16px;
    font-weight: 500;
}

footer {
    margin: 192px 0 64px 0;
}

footer p {
    opacity: 50%;
    text-align: center;
    color: #8a8a8d;
}

/* responsive design */
@media screen and (max-width: 1750px) {
    .song-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1440px) {
    .song-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1040px) {
    .song-grid {
        grid-template-columns: 1fr 1fr;
    }

    li a {
        padding: 4px 4px;
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .song-grid {
        grid-template-columns: 1fr;
    }

    .record-label-grid {
        gap: 4px;
        grid-template-columns: 1fr;
    }

    #search-bar {
        width: 70%;
    }

    li a {
        margin: 0px;
        padding: 0;
        font-size: 12px;
    }
}
