html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}



h1 {
    font-size: 24px;
    line-height: 1;
    padding: 30px 0 0 0;
    margin: 0 0 32px 0;
    color: #333333;
}

h2 {
    font-size: 18px;
    line-height: 1;
    padding: 16px 0 0 0;
    margin: 0;
    color: #333333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: 600;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.content-wrap {
    max-width: 90%;
    margin: 0 auto;
}

.sub-text {
    color: #8a8a8d;
}

.info {
    color: #8a8a8d;
    padding: 0 0 24px 0;
}

.info p {
    margin: 8px 0 0 0;
}

/* Header */
header {
    /*max-width: 90%;*/
    padding: 0 64px 0 64px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #333333;
}

header h1 {
    color: #ffffff;
}

/* Hide the links inside the navigation menu (except for logo/home) */
header #record-labels {
    display: none;
}

/* Style navigation menu links */
header a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    opacity: 50%;
}

/* Style the hamburger menu */
header a.icon {
    color: #ffffff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
header a:hover {
    background-color: #8a8a8d;
    color: black;
}

/* Style the active link (or home/logo) */
/*.active {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*}*/


.song-grid {
    display: grid;
    justify-items: center;
    column-gap: 16px;
    row-gap: 64px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.song-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    width: 260px;
    background-color: #ffffff;
}

.song-image {
    display: block;
    border-radius: 16px 16px 0 0;
}

.card-container {
    display: block;
    text-align: center;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 3fr 1fr;
    margin: 0;
    padding: 4px;
}

.song-title {
    margin: 4px 0;
    font-weight: 600;
}

.song-artist {
    margin: 4px 0;
    color: #fa233b;
}

.track-count {
    opacity: 75%;
    color: #8a8a8d;
    margin: 8px;
}

.play-pause-btn {
    background-color: #f2f2f6;
    border: 0;
    border-radius: 8px;
    color: #fa233b;
    cursor: pointer;
    width: 150px;
    padding: 10px 0;
    margin: 8px 0;
}

.play-pause-btn .fas {
    font-size: 12px;
    position:relative;
    margin: 0 8px;
    bottom: 1px;
}

.play-pause-btn:focus {
    outline: 0;
}

.play-pause-txt {
    font-size: 16px;
    font-weight: 500;
}

footer {
    margin: 192px 0 64px 0;
}

footer p {
    opacity: 50%;
    text-align: center;
    color: #8a8a8d;
}

/* responsive design */

@media screen and (max-width: 1750px) {
    .song-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1440px) {
    .song-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1040px) {
    .song-grid {
        grid-template-columns: 1fr 1fr;
    }

    li a {
        padding: 4px 4px;
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .song-grid {
        grid-template-columns: 1fr;
    }

    .record-label-grid {
        gap: 4px;
        grid-template-columns: 1fr;
    }

    #search-bar {
        width: 70%;
    }

    li a {
        margin: 0px;
        padding: 0;
        font-size: 12px;
    }
}
