html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 45px;
    line-height: 1;
    padding: 30px 0;
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: 0;
}

h3 {
    margin: 0;
}

header {
    background-color: #E6E8E6;
    margin: 0 0 20px 0;
}

body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
}

.content-wrap {
    max-width: 90%;
    margin: 0 auto;
}

.info {
    text-align: center;
}

.song-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.song {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 4px black;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.song img {
    margin: 8px;
}

.song-cover {
    display: block;
    margin: auto;
    border-radius: 16px;
}

.song-details {
    display: grid;
    grid-auto-columns: 3fr 1fr;
}

.song-info {
    margin: 8px;
    text-align: left;
    grid-column: 1;
}

.audio-controls {
    grid-column: 2;
    justify-self: end;
    align-self: center;
    margin-right: 8px;
}

.play-pause-btn {
    background-color: #ffffff;
    border: 0;
    color: #333333;
    font-size: 30px;
    cursor: pointer;
}

.play-pause-btn:focus {
    outline: 0;
}

@media screen and (max-width: 1020px) {
    h1 {
        text-align: center;
    }

    .song-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 320px) {
    .song audio {
        visibility:hidden;
    }
}
