<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Finder</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <header>
        <div class="content-wrap">
           <h1>Music Finder</h1>
           <div class="info">
               <p>{{ song_count }} songs released since {{ date }}</p>
           </div>
        </div>
        </header>
        <div class="content-wrap">
            <div class="song-grid">
           {% for artist in artists %}
                {% for album in artist.new_releases %}
                <div class="song-card">
                    <img class="song-image" src="{{ album.cover }}" width="300" height="300" alt="{{ album.song }} cover image">
                    <div class="card-container">
                        <div class="song-info">
                            <p class="song-title">{{ album.song }}</p>
                            <p class="song-artist">{{ artist.artist_name }}</p>
                        </div>
                        {% if album.preview %}
                        <div class="audio-controls">
                            <audio class="song-audio"
                                 src="{{ album.preview }}"
                                 type="audio/mpeg">
                            </audio>
                            <button class="play-pause-btn">
                                <i class="fas fa-play"></i><span class="play-pause-txt" >Play</span>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        <footer>
            <p>Created by David Manolitsas</p>
        </footer>
    </main>
    <script src="./js/script.js"></script>
</body>

</html>