<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <title>Music Finder</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <header>
        <div class="content-wrap">
           <h1>New Music Releases</h1>
        </div>
        </header>
        <div class="content-wrap">
            <div class="info">
                <p>The following is a list of music released from {{ date }} to today. There have been {{ song_count }} songs released in that period of time.</p>
            </div>
            <div class="song-grid">
           {% for artist in artists %}
                {% for album in artist.new_releases %}
                <div class="song">
                    <img class="song-cover" src="{{ album.cover }}" width="100" height="100" alt="{{ album.song }} cover image">
                    <div class="song-details">
                        <div class="song-info">
                          <h2>{{ album.song }}</h2>
                          <h3>{{ artist.artist_name }}</h3>
                        </div>
                        {% if album.preview %}
                        <div class="audio-controls">
                          <audio class="song-audio"
                                 src="{{ album.preview }}"
                                 type="audio/mpeg">
                          </audio>
                          <button class="play-pause-btn">
                            <i class="fas fa-play"></i>
                          </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </main>
    <script src="./js/script.js"></script>
</body>

</html>