<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Finder</title>
    <link rel="icon" href="./assets/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon.png">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
<main>
    <header>
        <h1>Music Finder</h1>
    </header>
    <div class="content-wrap">
        <h2>Record Labels</h2>
        <div class="record-labels no-scrollbar">
            <div class="record-label">
                <a href="https://anjunabeats.com/us"><img src="assets/anjunabeats.jpg" class="record-label-img"></a>
                <div class="record-label-title"> Anjunabeats</div>
            </div>
            <div class="record-label">
                <a href="https://anjunadeep.com/us"><img src="assets/anjunadeep.jpg" class="record-label-img"></a>
                <div class="record-label-title"> Anjunadeep</div>
            </div>
            <div class="record-label">
                <a href="https://www.armadamusic.com/"><img src="assets/armada.jpg" class="record-label-img"></a>
                <div class="record-label-title"> Armada Music</div>
            </div>
            <div class="record-label">
                <a href="https://spinninrecords.com/"><img src="assets/spinnin-records.jpg" class="record-label-img"></a>
                <div class="record-label-title"> Spinnin' Records</div>
            </div>
        </div>
        <h2>Recent Releases</h2>
        <div class="song-grid" id="song-grid">
            {% for artist in artists %}
                {% for album in artist.new_releases %}
                    <div class="song-card">
                        <a href="{{ album.song_url }}"><img class="song-image" src="{{ album.cover }}" width="325" height="325" alt="{{ album.song }} cover image"></a>
                        <div class="card-container">
                            <div class="song-info">
                                <p class="song-title">{{ album.song }}</p>
                                {% if artist.artist_link %}
                                    <a href="{{ artist.artist_link }}"><p class="song-artist">{{ artist.artist_name }}</p></a>
                                {% else %}
                                    <p class="song-artist">{{ artist.artist_name }}</p>
                                {% endif %}
                            </div>
                            {% if album.track_count %}
                                <p class="track-count">{{ album.track_count }} Songs</p>
                            {% endif %}
                            {% if album.preview %}
                                <div class="audio-controls">
                                    <audio class="song-audio"
                                           src="{{ album.preview }}"
                                           type="audio/mpeg">
                                    </audio>
                                    <button class="play-pause-btn">
                                        <i class="fas fa-play"></i><span class="play-pause-txt" >Play</span>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <footer>
        <p>Created by David Manolitsas</p>
    </footer>
</main>
<script src="./js/script.js"></script>
</body>

</html>